@model SubCategoryAndCategoryVM

@{
    ViewData["Title"] = "Create Subcategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-success">Create Subcategory</h1>
<br />

<div class="border">
    <div class="col-8 border-right">
        @if (ViewBag.IsExist)
        {
            <p class="text-danger text-uppercase font-weight-bolder">subcategory is already exists.</p>
        }
        <form asp-action="Create">
            <div class="font-weight-bold text-info">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SubCategory.Category.Name" class="col-form-label">Parent category:</label>
                    </div>
                    <div class="col-5">
                        <select asp-for="SubCategory.CategoryId" asp-items="Model.CategoryList.ToSelectListItem(Model.SubCategory.CategoryId)" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="SubCategory.Name" class="col-form-label"></label>
                    </div>
                    <div class="col-5">
                        <input asp-for="SubCategory.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="SubCategory.Name" class="text-danger">Subcategory name</span>
                </div>
                <div class="form-group row">
                    <div class="col-5 offset-3">
                        <partial name="_CreateAndBackToListButton" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}