@model SubCategoryListVM

@{
    ViewData["Title"] = "Subcategories list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form method="get">
    <div class="col-12 text-center">
        <h1 class="text-secondary"> Subcategories List</h1>
    </div>
    <br />
    <br />
    <partial name="_SearchByCategoryAndBySubcategory" />
    <div class="p-1">
        @if (Model.SubCategories.Count() > 0)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Subcategory name
                        </th>
                        <th>Parent name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.SubCategories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Category.Name)
                        </td>
                        <td>
                            <partial name="_TableButtonWithoutDetailsPartial" model="item.Id" />
                        </td>

                    </tr>
                }
            </table>
            <partial name="_Pagination" model="@Model.PagingInfo" />
        }
        else
        {
            <p>No subcategories exist...</p>
        }
    </div>
    <br />
    <br />
    <div class="col-6 offset-6 text-right">
        <partial name="_CreateButtonPartial" />
    </div>
</form>

