
@{
    ViewData["Title"] = "TODO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TODO</h1>
<ul>
    <li>1)corrections { bug with category and subcategory,turn on email confirmation}</li>
    <li>2)unit tests write a book :(</li>
</ul>

