
@{
    ViewData["Title"] = "TODO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TODO</h1>
<ul>
    <li>1)unit tests, end to end tests</li>
    <li>2)corrections {bug with category and subcategory,turn on email confirmation, add acces from fb etc}</li>
    <li>3)deployment</li>
    <li>4)write a book :(</li>
</ul>

