@model CategoryListVM

@{
    ViewData["Title"] = "Categories list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form method="get">
    <div class=" text-center">
        <h1 class="text-secondary"> Categories list</h1>
    </div>
    <br />
    <br />
    <partial name="_SearchByCategory" />
    <div class="p-1">
        @if (Model.Categories.Count() > 0)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Category Name
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
            <partial name="_Pagination" model="@Model.PagingInfo" />
        }
        else
        {
            <p>No categories exist...</p>
        }
    </div>
    <br />
    <br />
    <div class="col-6 offset-6 text-right">
        <partial name="_CreateButtonPartial" />
    </div>
</form>

