@model ReportListVM

@{
    ViewData["Title"] = "report's list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form method="get">

    <div class="col-12 text-center">
        <h1 class="text-secondary"> Report's List</h1>
    </div>
    <br />
    <br />
    <partial name="_SearchByProductAndByCategory" />
    <div class="p-1">
        @if (Model.Reports.Count() > 0)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Category Name
                        </th>
                        <th>
                            Subcategory Name
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.Reports)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.SubCategoryName)
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
            <partial name="_Pagination" model="@Model.PagingInfo" />
            <br />
        }
        else
        {
            <p>No reports exist...</p>
        }
    </div>
    <br />
    <div class="col-6 offset-6 text-right">
        <partial name="_CreateButtonPartial" />
    </div>
</form>

