@model Report
@{
    ViewData["Title"] = "Report's details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-info mb-5">Report's Details</h1>
<br />
<div class="text-info font-weight-bold">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="ProductName" class="col-form-label">Product name:</label>
        </div>
        <div class="col-5">
            <input asp-for="ProductName" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Category.Name" class="col-form-label">Product category:</label>
        </div>
        <div class="col-5">
            <input asp-for="Category.Name" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="AvgPrice" class="col-form-label">Average price:</label>
        </div>
        <div class="col-5">
            <input asp-for="AvgPrice" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="AvgRate" class="col-form-label">Average rate:</label>
        </div>
        <div class="col-5">
            <input asp-for="AvgRate" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="MinPrice" class="col-form-label">Min price:</label>
        </div>
        <div class="col-5">
            <input asp-for="MinPrice" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="MaxPrice" class="col-form-label">Max price:</label>
        </div>
        <div class="col-5">
            <input asp-for="MaxPrice" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="UpdateAt" class="col-form-label">Update at:</label>
        </div>
        <div class="col-5">
            <input asp-for="UpdateAt.Date" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-5 offset-2">
            <partial name="_DetailsAndBackToListButton" model="Model.Id" />
        </div>
    </div>
</div>
