@model Compareo.Infrastructure.VMs.ProductCreateEditVM
@using Compareo.Infrastructure.Extensions

@{
    ViewData["Title"] = "Create product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-success">Create Product</h1>
<br />

@if (ViewBag.Exist)
{
    <p class="text-danger text-uppercase font-weight-bolder">product is already exists.</p>
}
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="font-weight-bold text-info">
        <input type="hidden" asp-for="Product.CategoryId" id="categoryId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Product.Name" class="col-form-label">Product name:</label>
            </div>
            <div class="col-5">
                <input asp-for="Product.Name" class="form-control" />
            </div>
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Product.Description" class="col-form-label ">Product Description:</label>
            </div>
            <div class="col-5 ">
                @Html.TextAreaFor(m => m.Product.Description, new { @class = "form-control", @rows = 3 })
            </div>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Product.Price" class="col-form-label ">Product price:</label>
            </div>
            <div class="col-5">
                <input asp-for="Product.Price" class="form-control" />
            </div>
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Product.Picture" class="col-form-label ">Product picture</label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label for="Category" class="col-form-label ">Product category:</label>
            </div>
            <div class="col-5">
                <input type="search" id="Category" placeholder="Select"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Product.ShopId" class="col-form-label ">Product shop location:</label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Product.ShopId" id="ShopId" asp-items="Model.ShopList.ToSelectListItem(Model.Product.ShopId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/comboTreePlugin.js"></script>
    <script>

        const url = "/Admin/Category/GetCategories";

        $(document).ready(() => {
            $.getJSON(url, data => {

                const instance = $('#Category').comboTree({
                    source: data,
                    selected: ['0'],
                    isMultiple:false
                });

                $('#Category').change(() => {
                    let ids = instance.getSelectedIds();
                    $("#categoryId").val(ids[0]);
                });
            })
        })

    </script>
}