@model Compareo.Infrastructure.DTOs.ProductDto

@{
    ViewData["Title"] = "Edit product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-warning">Edit product</h1>
<br />

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CategoryId" id="categoryId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Name" disabled class="col-form-label font-weight-bold text-info">Product name:</label>
        </div>
        <div class="col-5">
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Description" class="col-form-label font-weight-bold text-info">Product description:</label>
        </div>
        <div class="col-5 ">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = 3 })
        </div>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Price" class="col-form-label font-weight-bold text-info">Product price:</label>
        </div>
        <div class="col-5">
            <input asp-for="Price" class="form-control " />
        </div>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Picture" class="col-form-label font-weight-bold text-info">Product picture</label>
        </div>
        <div class="col-5">
            <input type="file" name="files" multiple class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="CategoryId" class="col-form-label font-weight-bold text-info">Product category:</label>
        </div>
        <div class="col-5">
            <input asp-for="Category.Name" disabled id="CategoryId" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="ShopId" class="col-form-label font-weight-bold text-info">Shop:</label>
        </div>
        <div class="col-5">
            <select asp-for="ShopId" id="ShopId" asp-items="@ViewBag.ShopsSelectList" disabled class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-5 offset-2">
            <partial name="_EditAndBackToListButton" model="@Model.Id" />
        </div>
    </div>
</form>

@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/comboTreePlugin.js"></script>
    <script>

        const url = "/Admin/Category/GetCategories";

        $(document).ready(() => {
            $.getJSON(url, data => {
                $("#categoryId").val(@Model.CategoryId);
                const instance = $('#Category').comboTree({
                    source: data,
                    selected: ['0'],
                    isMultiple: false
                });

                $('#Category').change(() => {
                    let ids = instance.getSelectedIds();
                    $("#categoryId").val(ids[0]);
                });
            })
        })

    </script>
}