@model Shop
@{
    ViewData["Title"] = "Shop's details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-info mb-5">Shop's Details</h1>
<br />
<div class="text-info font-weight-bold">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Name" class="col-form-label">Shop name:</label>
        </div>
        <div class="col-5">
            <input asp-for="Name" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="City" class="col-form-label">Shop city location:</label>
        </div>
        <div class="col-5">
            <input asp-for="City" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Country" class="col-form-label">Shop country location:</label>
        </div>
        <div class="col-5">
            <input asp-for="Country" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="StreetAddress" class="col-form-label">Shop street location:</label>
        </div>
        <div class="col-5">
            <input asp-for="StreetAddress" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="PostalCode" class="col-form-label">Shop postal code:</label>
        </div>
        <div class="col-5">
            <input asp-for="PostalCode" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-5 offset-2">
            <partial name="_DetailsAndBackToListButton" model="Model.Id" />
        </div>
    </div>
</div>
