@model ShopListVM

@{
    ViewData["Title"] = "Shop's list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<form method="get">
        <div class="col-12 text-center">
            <h1 class="text-secondary"> Shop's List</h1>
        </div>
    <br />
    <br />
    <partial name="_SearchByShopAndByCity" />
    <div class="p-1">
        @if (Model.Shops.Count() > 0)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Shop name
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Postal code
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.Shops)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PostalCode)
                        </td>
                        <td>
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
            <partial name="_Pagination" model="@Model.PagingInfo" />
        }
        else
        {
            <p>No shops exist...</p>
        }
    </div>
    <br />
    <div class="col-6 offset-6 text-right">
        <partial name="_CreateButtonPartial" />
    </div>
</form>

