
@{
    ViewData["Title"] = "TODO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TODO</h1>
<ul>
    <li>1)Register, Auth, Authz</li>
    <li>2)Products details - user view</li>
    <li>3)Products comparator</li>
    <li>4)translations</li>
    <li>5)unit tests, end to end tests</li>
</ul>

