
@{
    ViewData["Title"] = "TODO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TODO</h1>
<ul>
    <li>1)Products details - user view</li>
    <li>2)Products comparator</li>
    <li>3)Email </li>
    <li>4)translations</li>
    <li>5)unit tests, end to end tests</li>
    <li>6)corrections</li>
    <li>6)deployment</li>
    <li>7)diagrams</li>
    <li>8)write a book :(</li>
</ul>

